.genre__toggle__wrap {
	display: flex;
	margin-top: 20px;
	padding: 20px;
	background: #232323;
}

.genre__toggle__wrap .genre__toggle__item {
	padding: 0 2px 19px;
	margin-right: 28px;
	cursor: pointer;
	color: #fff;
}

.genre__toggle__wrap .genre__toggle__item:last-of-type {
	margin-right: 0;
}

.active {
	border-bottom: solid 4px #f65261;
}
