.selectBox {
	position: relative;
}

.selectBox select {
	width: 100%;
	font-weight: bold;
}

.overSelect {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.checkboxes {
	position: absolute;
	width: calc(100% - 15px);
	background-color: rgba(50, 50, 50, 0.948);
	border: none;
	padding-left: 15px;
}

.checkboxes label {
	display: block;
	margin-top: 3px;
}

.checkboxes label:hover {
	background-color: #1e90ff;
}

.multiselect {
	position: relative;
}
